select {
  border: 2px solid #ccc;
  height: 25px;
  margin: auto auto auto 5px;
  border-radius: 5px;
  background-color: white;
  font-size: 16px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

select:hover {
  border-color: #999;
}

select:focus {
  outline: none;
  border-color: #3867d5;
  box-shadow: 0 0 3px rgba(119, 119, 119, 0.3);
}
